<div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-header">Nuevo Repartidor</div>
    <div class="card-body">
    </div>
    <div class="submit-form">

        <div *ngIf="!submitted">
            <div class="form-group">
                <label for="id">Id</label>
                <input type="number" class="form-control" id="id" required [(ngModel)]="repartidor.id" name="id" />
            </div>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input class="form-control" id="nombre" required [(ngModel)]="repartidor.nombre" name="nombre" />
            </div>
            <div class="form-group">
                <label for="cedula">Cedula</label>
                <input class="form-control" id="cedula" required [(ngModel)]="repartidor.cedula" name="cedula" />
            </div>
            <div class="form-group">
                <label for="areaDeTrabajo">areaDeTrabajo</label>
                <input class="form-control" id="areaDeTrabajo" required [(ngModel)]="repartidor.areaDeTrabajo" name="areaDeTrabajo" />
            </div>
            <div class="form-group">
                <label for="salario">Salario</label>
                <input class="form-control" id="salario" required [(ngModel)]="repartidor.salario" name="salario" />
            </div>
            <button (click)="doCreateRepartidor(repartidor)" class="btn btn-primary">Enviar</button>
        </div>
        <div *ngIf="submitted">
            <h4>Enviado correctamente</h4>
            <button class="btn btn-primary" (click)="newRepartidor()">Agregar</button>
        </div>
    </div>
</div>