<p *ngIf="isLogged">Usuario en sesión: {{user.email}}</p>
<h1>Listado de repartidores</h1>
<table class="table">
    <thead>
        <th>Nombre</th>
        <th>Cedula</th>
        <th>Area de trabajo</th>
        <th>Salario</th>
        <th>Eliminar</th>
        <th>Actualizar</th>
    </thead>
    <tbody>
        <tr *ngFor="let repartidor of repartidoresTodos">
            <td>{{repartidor.nombre}}</td>
            <td>{{repartidor.cedula}}</td>
            <td>{{repartidor.areaDeTrabajo}}</td>
            <td>{{repartidor.salario}}</td>
            <td><button class="btn btn-primary" (click)="doDeleteRepartidor(repartidor.id)">Eliminar</button></td>
            <td>
                <a class="btn btn-primary" [routerLink]="['/modificaUsuario/', repartidor.id]">Modificar</a>
            </td>
        </tr>
    </tbody>
</table>